@import "./_variables.scss";
@import "./_fonts";
@import "./_utilities.scss";
@import "./_loaders.scss";

body {
  overscroll-behavior: none;
  color: rgb(29, 29, 31);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bs-page);
  transition: background-color .5s ease;
  background: linear-gradient(0deg, transparent 75%, rgb(212, 231, 253)), url(../img/cloudBg.png);
  background-repeat: no-repeat;
  background-size: 150%;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

.card {
  border-radius: 12px !important;
  background-color: rgba(var(--bs-body-bg-rgb), .5);
  backdrop-filter: blur(10px);
  color: rgb(29, 29, 31);
}