@import "./_variables.scss";
@import "./_fonts";
@import "./_utilities.scss";
@import "./_loaders.scss";

body {
  overscroll-behavior: none;
  color: rgb(29, 29, 31);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bs-page);
  transition: background-color .5s ease;
  background: linear-gradient(0deg, transparent 75%, rgb(212, 231, 253)), url(../img/cloudBg.png);
  background-repeat: no-repeat;
  background-size: 150%;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  text-decoration: none;
}

.card {
  --card-color: rgba(var(--bs-light-rgb), .35);
  border-radius: 12px !important;
  background:
    linear-gradient(var(--card-color), var(--card-color)) padding-box,
    linear-gradient(25deg, #ff00ff1e, #00ffff1e, #ffff001e, #ff00ff1e) border-box;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgb(29, 29, 31);
  position: relative;
  isolation: isolate;
  box-shadow: 0px 3px 5px rgba(17, 17, 17, 0.178);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    backdrop-filter: blur(4px);
    z-index: -1;
    filter: url(#glass-distortion);
  }
}