.playing {
  transition: all .2s ease;
}

.paused {
  transition: all .2s ease;
  filter: brightness(1.1) saturate(.8);
  opacity: .5;
}

.workout-title {
  font-size: 3.25em;
  color: var(--bs-dark);

  text-shadow:
    -2px -2px 0 var(--bs-light),
    2px -2px 0 var(--bs-light),
    -2px 2px 0 var(--bs-light),
    2px 2px 0 var(--bs-light),
    -2px 0 0 var(--bs-light),
    2px 0 0 var(--bs-light),
    0 -2px 0 var(--bs-light),
    0 2px 0 var(--bs-light),
    3px 3px 8px rgba(0, 0, 0, 0.7);
}